<!doctype html>
<html lang="en">

<head>
    {% if is_report %}
        <title>Lab Report - {{order_obj.patient.first_name}} {{order_obj.patient.last_name}}</title>
    {% else %}
        <title>Invoice - {{order_obj.patient.first_name}} {{order_obj.patient.last_name}}</title>
    {% endif %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>

    <div class="container-fluid" style="background-color: hsl(0, 0%, 87.5%);padding: 12px;">
        <div class="row">
            {% if order_obj %}
            <div class="col text-center">
                <button style="width: 180px;" onclick="printReport('{{is_report}}')" class="btn btn-success">
                    <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"> Print</i>
                </button>
            </div>
            <div class="col text-center">
                <a style="width: 180px;" target="_blank" class="btn btn-success"
                    href="{% url 'e_report' %}?order_id={{request.GET.order_id}}" role="button">View e-Report</a>
            </div>
            <div class="col text-center">
                <a style="width: 180px;" class="btn btn-success"
                    href="{% url 'e_report' %}?order_id={{request.GET.order_id}}&download=true" role="button">Download
                    e-Report</a>
            </div>
            <div class="col text-center">
                <button style="width: 200px;" id="sendEmail" class="btn btn-success">Send e-Report to Patient</button>
            </div>
            {% else %}
            <div class="col text-center">
                <button style="width: 180px;cursor: no-drop;" class="btn btn-dark" disabled>
                    <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"> Print</i>
                </button>
            </div>
            <div class="col text-center">
                <button style="width: 180px;cursor: no-drop;" class="btn btn-dark" disabled>View e-Report</button>
            </div>
            <div class="col text-center">
                <button style="width: 180px;cursor: no-drop;" class="btn btn-dark" disabled>Download e-Report</button>
            </div>
            <div class="col text-center">
                <button style="width: 200px;cursor: no-drop;" class="btn btn-dark" disabled>Send e-Report to
                    Patient</button>
            </div>
            {% endif %}
            <div class="col text-center">
                <a style="width: 180px;" target="_blank" class="btn btn-success" href="{% url 'admin:login' %}"
                    role="button">Go To Admin Panel</a>
            </div>
            <div class="col text-center">
                <a style="width: 180px;" class="btn btn-danger" href="{% url 'admin:logout' %}" role="button">Logout</a>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="col-md-6 offset-md-3">
            {% for message in messages %}
            {% if "success" in message.extra_tags %}
            <div class="alert alert-success text-center">
                <strong>{{ message|escape }}</strong>
            </div>
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>{{ message|escape }}</strong>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <form method="GET" onsubmit="$('#spinnerDiv').show();">
            {% csrf_token %}
            <input type="hidden" name="fetch" value="">
            <div class="row">
                <div class="col-md-3 offset-md-4">
                    <input type="number" class="form-control" name="order_id" id="order_id" placeholder="Order ID"
                        value={{request.GET.order_id}}>
                </div>
                <div class="col-md-2 text-center">
                    <button type="submit" id="btnFetch" onclick="$('input[name=fetch]').val('report');"
                        class="btn btn-info">Fetch Report</button>
                </div>
                <div class="col-md-2">
                    <button type="submit" id="btnFetch" onclick="$('input[name=fetch]').val('invoice');"
                        class="btn btn-info">Fetch Invoice</button>
                </div>
            </div>
        </form>
    </div>

    <br> <br>

    <div id="spinnerDiv" class="spinner-border text-success" role="status"
        style="display:none;width: 3rem; height: 3rem;  position: fixed;left: 0;right: 0;top: 0;bottom: 0;margin: auto;">
        <span class="sr-only">Loading...</span>
    </div>


{% if order_obj %}
    {% if is_report %}
        <div id="reportMainDiv">
            {% include "lab/report.html" %}
        </div>
    {% else %}
        <div id="invoiceMainDiv">
            {% include "lab/invoice.html" %}
        </div>
    {% endif %}
{% endif %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



    <script>
        $(document).ready(function () {
            $("#sendEmail").click(function () {
                var con = confirm("Kindly note that, The e-Report will send on this mail ID - {{order_obj.patient.email}}");
                if (con) {
                    var url = "{% url 'e_report' %}?order_id={{request.GET.order_id}}&send_mail=true";
                    $('#spinnerDiv').show();
                    location.replace(url);
                }
            });

            $('.report-sub-div').each(function () {
                var tr_count = $(this).children('table').children('tbody').children('tr');
                if (tr_count.length > 12) {
                    tr_count[12].style = "page-break-after:always";
                }
            });

            $('input[type=text]').keyup(function () {
                var result = $(this).val()
                var result_id = $(this).attr("result-id");
                $.ajax({
                    url: "{% url 'update_result' %}",
                    method: 'POST',
                    data: {
                        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                        'result_id': result_id,
                        'result': result
                    },
                    success: function (data) {
                        if (data.status != 200) {
                            window.location.reload();
                        }
                    }
                });
            });

            $('input[type=number]').keyup(function () {
                var value = $(this).val()
                var field_id = $(this).attr("field-id");
                var order_id = "{{order_obj.id}}";
                $.ajax({
                    url: "{% url 'update_invoice' %}",
                    method: 'POST',
                    data: {
                        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                        'field_id': field_id,
                        'order_id': order_id,
                        'value':value
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            $("#tdFinalAmt").html("Rs. "+data.final_amount+" /-");
                            $("#tdBalanceAmt").html("Rs. "+data.balance_amount+" /-");
                        }else{
                            window.location.reload();
                        }
                    }
                });
            });
        });

        function printReport(is_report) {
            if (is_report == "True"){
                $(".report-sub-div").css("width", "100%");
                $('input[type=text]').each(function () {
                    $(this).replaceWith("<p>" + $(this).val() + "</p>");
                })
                var printContents = document.getElementById("reportMainDiv").innerHTML;
                document.body.innerHTML = printContents;
                window.print();
                window.location.reload();
                $(".report-sub-div").css("width", "70%");
            }else{
                $('input[type=number]').each(function () {
                    $(this).replaceWith("Rs. "+$(this).val());
                })
                var printContents = document.getElementById("invoiceMainDiv").innerHTML;
                document.body.innerHTML = printContents;
                window.print();
                window.location.reload();
            }
        }
    </script>

</body>

</html>