{% load static %}
{% load thumbnail %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% for pkg_name,test_reports in full_reports %}
<div class="container report-sub-div" style="width: 70%;">
    <div class="header">
        <div class="row">
            <img src="{% static 'images/icon.png' %}" alt="Logo" style="width: 12%;">
            <h3 style="width: 85%;letter-spacing: 3px;font-weight: bold;">
                {{lab_info.name}}
                <p style="font-size: medium;width: 90%;letter-spacing: 0px;font-weight: normal;">
                    {{lab_info.address}}</p>
            </h3>
        </div>
        <div align="right">
            <pre style="margin-bottom: 0px;border: 0px;">{{lab_info.header}}</pre>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <table style="text-transform: uppercase;">
                <tr>
                    <td scope="row">PATIENT NAME</td>
                    <td style="padding-left: 20px;;padding-right: 20px;">:</td>
                    <td>{{order_obj.patient.first_name}} {{order_obj.patient.last_name}}</td>
                </tr>
                <tr>
                    <td scope="row">Referred By</td>
                    <td style="padding-left: 20px;;padding-right: 20px;">:</td>
                    <td>{{order_obj.referred_by.first_name}} {{order_obj.referred_by.last_name}}</td>
                </tr>
                <tr>
                    <td scope="row">SAMPLE COLL. AT</td>
                    <td style="padding-left: 20px;;padding-right: 20px;">:</td>
                    <td>{{order_obj.sample_collected_at}} - {{order_obj.sample_collection_datetime}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 col-sm-6" align="right">
            <table style="text-transform: uppercase;">
                <tr>
                    <td scope="row">Date</td>
                    <td style="padding-left: 20px;;padding-right: 20px;">:</td>
                    <td>{% now "j F Y" %}</td>
                </tr>
                <tr>
                    <td scope="row">Sex</td>
                    <td style="padding-left: 20px;;padding-right: 20px;">:</td>
                    <td>{{order_obj.patient.gender}}</td>
                </tr>
                <tr>
                    <td scope="row">Age</td>
                    <td style="padding-left: 20px;;padding-right: 20px;">:</td>
                    <td>{{order_obj.patient.age}}</td>
                </tr>
            </table>
        </div>
    </div>

    <hr>
    <p style="font-weight: bold;text-align: center;font-size: large;">{{pkg_name}}</p>
    <hr>

    <table style="width: 100%;text-align: center;table-layout: fixed;">
        <tr class="mb-10" style="text-decoration: underline;">
            <th style="padding-bottom: 20px;">TEST DONE</td>
            <th style="padding-bottom: 20px;">RESULT</th>
            <th style="padding-bottom: 20px;max-width: 20%;">NORMAL RANGE</th>
        </tr>
        {% for report in test_reports %}
        <tr>
            <td>{{report.Test.name}}</td>
            <td>
                <input type="text" class="form-control col-md-8 offset-md-3" result-id="{{report.id}}"
                    value="{{report.results}}">
            </td>
            {% if report.Test.low_ref and report.Test.high_ref %}
            <td>{{report.Test.low_ref }} - {{report.Test.high_ref }} {{report.Test.units }}</td>
            {% else %}
            <td>
                <pre style="border: none;font-family:'Times New Roman', Times, serif;">{{report.Test.elabaorated_range }}</pre>
            </td>
            {% endif %}
        </tr>
        {% if report.Test.notes %}
        <tr>
            <td colspan="2"><small id="helpId" class="form-text text-muted text-left">
                    <pre style="border: none;">{{report.Test.notes}}</pre>
                </small></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <div class="temp-div">
        <br> <br><br> <br>
        <div align="right">
            <img src="{% thumbnail lab_info.doctor_sign 150x150 %}" alt="<Doctor Signature>">
            <p style="margin: 0px;"> {{lab_info.doctor_name}} </p>
            <p> {{lab_info.doctor_qualification}} </p>
        </div>
        <hr>
        <p>
            {{lab_info.footer}}
        </p>
        <br> <br><br> <br>
    </div>
</div>
{% endfor %}
<footer>
    <div align="right">
        <img src="{% thumbnail lab_info.doctor_sign 150x150 %}" alt="<Doctor Signature>">
        <p style="margin: 0px;"> {{lab_info.doctor_name}} </p>
        <p> {{lab_info.doctor_qualification}} </p>
    </div>
    <hr>
    <p>
        {{lab_info.footer}}
    </p>
</footer>